<template>
  <require from="./components.css"></require>
  <h2 id="components">Components</h2>

  <ul class="components">
    <li>
      <label>Button</label>
      <ux-button>Test</ux-button>
    </li>
    <li>
      <label>Checkbox</label>
      <ux-checkbox></ux-checkbox>
    </li>
    <li>
      <label>Chip Input</label>
      <ux-chip-input></ux-chip-input>
    </li>
    <li>
      <label>Datepicker</label>
      <ux-datepicker></ux-datepicker>
    </li>
    <li>
      <label>Form</label>
      <ux-form></ux-form>
    </li>
    <li>
      <label>Input</label>
      <ux-input></ux-input>
    </li>
    <li>
      <label>Input Info</label>
      <ux-input-info></ux-input-info>
    </li>
    <li>
      <label>List</label>
      <ux-list></ux-list>
    </li>
    <li>
      <label>Textarea</label>
      <ux-textarea></ux-textarea>
    </li>
  </ul>
</template> 
